<!-- Assessment Section -->
<section id="assessment">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Assessment</h2>
				<h3 class="section-subheading text-muted">Coursework deadlines to be confirmed</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p class="lead">
					Assessment for the course will be 100% coursework. There are no exams.
				</p>
				<table class="table">
					<thead>
						<tr>
							<th>Week</th>
							<th>Date</th>
							<th>Assessment Type</th>
							<th>Weight</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>3</td>
							<td>29-Jan-2016</td>
							<td>Team presentation</t>d
								<td>Feedback only &mdash; not graded</td>
						</tr>
						<tr>
							<td>4</td>
							<td>5-Feb-2016</td>
							<td>Personal Report (Draft)</t>d
								<td>Feedback only &mdash; not graded</td>
						</tr>
						<tr>
							<td>10</td>
							<td>18-March-2016</td>
							<td>Personal Report</t>
								<td>75%</td>
						</tr>
						<tr>
							<td>11</td>
							<td>23-March-2016</td>
							<td>Team Presentation</t>
								<td>25%</td>
						</tr>
					</tbody>
				</table>
			</div> <!-- col-lg-12  ->
		</div> <!-- row  ->
	</div> <!-- container ->
</section>
