<!-- Overview Section -->
<section id="overview">
        <div class="container bs-docs-container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Overview</h2>
				<!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
			</div>
		</div>
		<div class="container bs-docs-container">
			<!-- <div class="row"> -->
			<div class="col-md-12" role="main">
				<p class="lead"><b>Data, Design and Society</b> is a new sort of course that combines
					interdisciplinary teamwork with practice-based challenges. It is a collaboration
					between the Schools of Informatics, Social and Political Studies, and Design
					Informatics.</p>

				<p class="lead">In today’s economy, students need the skills to work together with
					people across different disciplines, and are likely to be confronted by
					multi-dimensional challenges with complex social, legal, political and
					technological dimensions. This<i>learning-by-developing</i> course will introduce you to
					ways of combining modern tools for data analysis with
					design-based approaches. It will encourage you to
					develop innovative ideas and communicate them
					effectively in different social arenas.</p>

				<p class="lead">In the <b>Data</b> strand of the course, you will learn to collect,
					assess and present data as social and scientific evidence, and to use it as a
					resource for design. The <b>Design</b> element asks you to challenge existing practices by
					creating prototype social interventions. The <b>Society</b> strand introduces
					the ‘social life of data’ and shows how data and design can be used to shape
					society for the better within the framework of existing social and political
					processes. The course will give you the opportunity to take your learning into
					the University as a ‘Living Lab’.</p>

				<p class="lead"><b>Data, Design and Society</b>
					(<a href="https://path.is.ed.ac.uk/courses/INFR08024_SV1_SEM2" >INFR08024</a>)
					is a 20pt Level 8 course. There are no prerequisites, but students should be
					prepared to work with simple data analysis tools, to go out and talk to people,
					and to make things!</p>
			</div>
		</div>
	</div>
</section>

                <!-- <ul class="timeline"> -->
				<!--     <li> -->
				<!--         <div class="timeline-image"> -->
				<!--             <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
				<!--         </div> -->
				<!--         <div class="timeline-panel"> -->
				<!--             <div class="timeline-heading"> -->
				<!--                 <h4>2009-2011</h4> -->
				<!--                 <h4 class="subheading">Our Humble Beginnings</h4> -->
				<!--             </div> -->
				<!--             <div class="timeline-body"> -->
				<!--                 <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p> -->
				<!--             </div> -->
				<!--         </div> -->
				<!--     </li> -->
				<!--     <li class="timeline-inverted"> -->
				<!--         <div class="timeline-image"> -->
				<!--             <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
				<!--         </div> -->
				<!--         <div class="timeline-panel"> -->
				<!--             <div class="timeline-heading"> -->
				<!--                 <h4>March 2011</h4> -->
				<!--                 <h4 class="subheading">An Agency is Born</h4> -->
				<!--             </div> -->
				<!--             <div class="timeline-body"> -->
				<!--                 <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p> -->
				<!--             </div> -->
				<!--         </div> -->
				<!--     </li> -->
				<!--     <li> -->
				<!--         <div class="timeline-image"> -->
				<!--             <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
				<!--         </div> -->
				<!--         <div class="timeline-panel"> -->
				<!--             <div class="timeline-heading"> -->
				<!--                 <h4>December 2012</h4> -->
				<!--                 <h4 class="subheading">Transition to Full Service</h4> -->
				<!--             </div> -->
				<!--             <div class="timeline-body"> -->
				<!--                 <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p> -->
				<!--             </div> -->
				<!--         </div> -->
				<!--     </li> -->
				<!--     <li class="timeline-inverted"> -->
				<!--         <div class="timeline-image"> -->
				<!--             <img class="img-circle img-responsive" src="img/about/4.jpg" alt=""> -->
				<!--         </div> -->
				<!--         <div class="timeline-panel"> -->
				<!--             <div class="timeline-heading"> -->
				<!--                 <h4>July 2014</h4> -->
				<!--                 <h4 class="subheading">Phase Two Expansion</h4> -->
				<!--             </div> -->
				<!--             <div class="timeline-body"> -->
				<!--                 <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p> -->
				<!--             </div> -->
				<!--         </div> -->
				<!--     </li> -->
				<!--     <li class="timeline-inverted"> -->
				<!--         <div class="timeline-image"> -->
				<!--             <h4>Be Part -->
				<!--                 <br>Of Our -->
				<!--                 <br>Story!</h4> -->
				<!--         </div> -->
				<!--     </li> -->
				<!-- </ul> -->
        
