<!-- Syllabus Section -->
    <section id="syllabus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Syllabus</h2>
                    <h3 class="section-subheading text-muted">Under development</h3>
                </div>
	    </div>
	    <div class="row">
	    <div class="col-lg-12">
	      
	      <p class="lead">
              Class meeting times: Semester 2, <b>Wednesday
    9&ndash;11</b> and <b>Friday 10&ndash;12</b>.
	      </p>
	      <p class="text-center">Dates below are currently just for the Wednesday slot.</p>
	      
                     <table class="table table-striped">
    <thead>
      <tr>
        <th>Week</th>
        <th>Date</th>
        <th>Topic</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 1</td>
        <td>13-Jan-2016</td>
        <td>Course Overview. Investigating food issues</td>
      </tr>
      <tr>
        <td>2</td>
        <td>20-Jan-2016</td>
        <td>Introduction to data: Collecting, storing and processing</td>
      </tr>
      <tr>
        <td>3</td>
        <td>27-Jan-2016</td>
        <td>Fieldwork: Fast hack</td>
      </tr>
     <tr>
        <td>4</td>
        <td>03-Feb-2016</td>
        <td>The Social Life of Data</td>
      </tr>
      <tr>
        <td>5</td>
        <td>10-Feb-2016</td>
        <td>Presenting and visualising data</td>
      </tr>
     <tr>
        <td>6</td>
        <td>19-Feb-2016</td>
        <td>Innovative Learning Week</td>
      </tr>
     <tr>
        <td>7</td>
        <td>27-Jan-2016</td>
        <td>Co-design and participatory workshops</td>
      </tr>
       <tr>
        <td>8</td>
        <td>02-Mar-2016</td>
        <td>Telling stories with data</td>
      </tr>
     <tr>
        <td>9</td>
        <td>09-Mar-2016</td>
        <td>Data quality, lying with statistics</td>
      </tr>
     <tr>
        <td>10</td>
        <td>16-Mar-2016</td>
        <td>Crowd sourcing and citizen science</td>
      </tr>
     <tr>
        <td>11</td>
        <td>23-Mar-2016</td>
        <td>Team Presentations</td>
      </tr>
    </tbody>
  </table>
                </div>
	    </div>	
            <!-- <div class="row text-center"> -->
            <!--     <div class="col-md-4"> -->
            <!--         <span class="fa-stack fa-4x"> -->
            <!--             <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
            <!--             <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
            <!--         </span> -->
            <!--         <h4 class="service-heading">E-Commerce</h4> -->
            <!--         <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
            <!--     </div> -->
            <!--     <div class="col-md-4"> -->
            <!--         <span class="fa-stack fa-4x"> -->
            <!--             <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
            <!--             <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
            <!--         </span> -->
            <!--         <h4 class="service-heading">Responsive Design</h4> -->
            <!--         <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
            <!--     </div> -->
            <!--     <div class="col-md-4"> -->
            <!--         <span class="fa-stack fa-4x"> -->
            <!--             <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
            <!--             <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
            <!--         </span> -->
            <!--         <h4 class="service-heading">Web Security</h4> -->
            <!--         <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
            <!--     </div> -->
            </div> <!-- row text-center ->
        </div> <!-- container ->
    </section>